.home_section {
    width: 100%;
    position: relative;
    top: 60px;
    /* background-color: #e7e7e7; */
    min-height: calc(100vh - 60px);
    border-bottom: 2px solid rgb(199, 199, 199);
    margin-bottom: 10px;
}

.testimonail {
    background-color: var(--color-bg1);
}

.testimonail_text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 76%;
    margin: 0 auto;
    font-size: 18px;
    color: var(--color-light);
}

.imageContainer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 76%;
    margin: 0 auto;
}

.imgCart {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.imgCart img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 1024px) {
    .imageContainer {
        grid-auto-flow: initial;
        grid-template-columns: repeat(4, 4fr);
        grid-gap: 1.6rem;
    }
    .imgCart img {
        max-width: 100%;
    }
    .testimonail p {
        font-size: 15px;
    }
}


/** ============== MEDIA QUERIES (SMALL) ============ */

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }
    .testimonail p {
        font-size: 10px;
    }
}