.heading {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading h1 {
    display: flex;
    color: var(--color-primary);
}

.products_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    margin-top: 7rem;
}

.row {
    background-color: var(--color-primary);
    /* height: 80vh; */
    margin-bottom: 2rem;
}

.detailsContainer {
    padding: 1rem;
}

.details h1 {
    font-size: 1.7rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.114);
    color: var(--color-bg);
}

.image {
    margin-top: 2rem;
}

.image img {
    max-width: 100%;
    height: auto;
}

.discreption {
    margin-top: 2rem;
    width: 250px;
}

.discreption p {
    font-size: 18px;
    color: var(--color-bg);
    /* width: 100px; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.instructor_time {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

.btn {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    background-color: var(--color-danger);
}

.btn button {
    background-color: var(--color-danger);
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.btn:hover {
    background-color: var(--color-danger);
}

.btn button:hover {
    color: var(--color-bg);
    transition: var(--transition);
}

@media screen and (max-width: 1024px) {
    .products_items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


/** ============== MEDIA QUERIES (SMALL) ============ */

@media screen and (max-width: 600px) {
    .products_items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}